/* Default */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    --accentColor1:#F6F4EB;
   --accentColor2:#91C8E4;
   --accentColor3: #749BC2;
   --accentColor4: #4682A9;
   --accentColor5: #CDF5FD;
   --textColor1: #d6ecfa;
   --textcolor2: #15005d;
}

.sectionPadding {
    padding: 0.5rem 5%;
}


a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

/* Default */


.container{
    display: flex;
    justify-content: space-between;
}
.sideBar {
    position: sticky;
    top: 0;
    width: 10%;
    padding: 0.5rem;
    height: 100vh;
    background-color: var(--accentColor1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}
.content{
    width: 89%;
    background-color: var(--accentColor1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    min-height: 100vh;
    height: 100%;
}
.content .header .navigationBar{
    
    margin: 1rem 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigationBar .navigationTitle span{
    font-size: 1.5rem;
    font-weight: bolder;
}
.content .header .navigationBar .navigationLinks{
    display: flex;
    padding: 0 2rem;
    gap: 0.5rem;
}
.userInfo{
    border-right: 2px solid black;

    margin: 0.5rem;
    padding: 0.5rem;
    padding-right: 1.2rem;
}
.content .header .navigationBar .navigationLinks .user{
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
}
.sideBar .btns .btn {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.sideBar .btns .btn img{
    width: 100%;
}
.sideBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.top{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.logo{
    height: 6rem;
    width: 6rem;
}
.logo img{
    width: 100%;
}
.inside{
    
    height: 80%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 0.5rem;
    
    
}
.inside .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}
.inside .header .title{
    font-size: 1.5rem;
    font-weight: bolder;
}

.inside .header .right{
    display: flex;

    padding: 0.5rem;
    gap: 0.5rem;

}
table tbody td{
   height: 2.5rem;
    text-align: center;
    background-color: var(--accentColor1);
}
table thead th{
    width: 6rem;
    height: 3rem;
    background-color: var(--accentColor2);
    text-align: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info .table {
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .table table{
    width: 100%;
}
.info .table table tbody input{
    width: 70%;
    height: 1.5rem;
    padding: 0.5rem;
    
}

.navigationLinks .btns{
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.inside .header .right .searchBox{
    height: 2rem;
    width: 12rem;
    padding: 0.5rem;
    outline: none;
}
.userPic{
    display: flex;
    justify-content: center;
    align-items: center;

}
.userPic .img{
    
    width: 3rem;
    height: 3rem;
}
.userPic .img img{
    width: 100%;
}

.inside .header .right .searchBtn{
    height: 2rem;
    margin-left: -0.5rem;
    width: 4rem;
}
.addBtn button{
    height: 2rem;
    width: 6rem;
}
















/* Form */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input , select{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.editIcon img{
    width: 2rem;
    height: 2rem;
}
/* Form */


